body {
    margin: 0;
    font-family: sans-serif;
   background-color:#280202 ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color:#560808;
}

.logo {
    width: 150px;
}


nav {
    display:flex;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;
    display:flex;
    color: red;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.2s;
}




.zagol {
    text-align: center;
    font-size: 40px;
    color: #ff2a2a;
    margin: 20px 0;
   
}


.info {
    display:flex; 
    gap: 20px;
    padding: 20px;
    color: #ffb3b3;
      font-size:20px;

}


article {
    background-color: rgba(60,0,0,0.8);
    padding: 15px;
    border-radius: 12px;
}


.img {
    display: flex;
    justify-content: center;
    align-items: center;
     display:flex;
      height: 750px;
    border-radius: 12px;
    box-shadow: 0 0 15px red;
    
}



.zagolovok {
    color: #ff4d4d;
}
 
 .chikavifakti{
     color:#ffb3b3;
     font-size:20px;
     padding:15px ;
     margin:15px ;

 }

footer {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    background: linear-gradient(180deg, #3a0000, #120000);
    color: #ffb3b3;
    font-size: 20px;
}
