body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #1a0000, #000000);
   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background: linear-gradient(180deg, #7a0000, #3a0000);
}

.logo {
    width: 150px;
}


nav {
    display:flex;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    display:flex;
    color: black;
    background: white;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.2s;
}

.nav-link:hover {
    background: #ff3b3b;
    color: white;
}


.zagol {
    text-align: center;
    font-size: 40px;
    color: #ff2a2a;
    margin: 20px 0;
}


.info {
    display:flex;
  
    gap: 20px;
    padding: 20px;
    color: #ffb3b3;
}


article {
    background: rgba(60,0,0,0.8);
    padding: 15px;
    border-radius: 12px;
}


.img {
    display: flex;
    justify-content: center;
    align-items: center;
     display:flex;
    
}

.img  {
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 0 15px red;
    
}


.zagolovok {
    color: #ff4d4d;
}


footer {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    background: linear-gradient(180deg, #3a0000, #120000);
    color: #ffb3b3;
    font-size: 14px;
}
